*~
*.pyc
*.cxx
build/*
*.o
*.so
*.orig
cpp/*_wrap.cpp
cpp/build
*.sqlite3*
.DS_Store
videos/*
keiro/astar.py
keiro/geometry.py
keiro/particle.py
keiro/vector2d.py
keiro.sublime-project
keiro.sublime-workspace
*.ipynb_checkpoints
pyplots
