<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Simulations statistics</title>
	<style type="text/css" media="screen">
		* {
			font-family: Verdana;
			font-size: 10px;
		}
		table td, table th{
			border: 1px solid black;
			padding: 5px;
		}
		table th {
			background: #555555;
			color: white;
		}
		tr.odd {
			background: #dddde5;
		}
		table {
			border-spacing: 0px;
			border-collapse: collapse;
			width: 95%;
			margin: auto;
		}
	</style>
</head>
	<body>
	{% block content %}
		<table>
			<tr>
				<th colspan="3">ID</th>
				<th colspan="7">Settings</th>
				<th colspan="6">Results</th>
			</tr>
			<tr>
				<th>id</th>
				<th>Date</th>
				<th>Revision</th>
				<th>Scenario</th>
				<th>Scenario Parameter</th>
				<th>Agent</th>
				<th>Agent Parameter</th>
				<th>View Range</th>
				<th>Timestep</th>
				<th>Random Seed</th>
				<th>Collisions</th>
				<th>Completion Time</th>
				<th>Avg.Iter.Time</th>
				<th>Max.Iter.Time</th>
				<th>Video</th>
				<th>Actions</th>
			</tr>
		{% for o in object_list %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>{{o.id}}</td>
				<td>{{o.date}}</td>
				<td>{{o.revision|slice:":6"}}</td>
				<td>{{o.scenario}}</td>
				<td>{{o.scenario_parameter}}</td>
				<td>{{o.agent}}</td>
				<td>{{o.agent_parameter}}</td>
				<td>{{o.view_range}}</td>
				<td>{{o.timestep}}</td>
				<td>{{o.seed}}</td>
				<td>{{o.collisions}}</td>
				<td>{{o.completion_time}}</td>
				<td>{{o.avg_iteration_time}}</td>
				<td>{{o.max_iteration_time}}</td>
				<td><a href="video/{{o.id}}.mp4">Video</a></td>
				<td><a href="delete/{{o.id}}">Delete</a></td>
			</tr>
        {% endfor %}
	{% endblock %}
	</body>
</html>